<%= form_for @message do |f| %>

	<% if @message.errors.any? %>
		<h2><%= pluralize(@message.errors.count, "error") %> prevented this message from saving:</h2>
		<ul>
			<% @message.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>

	<%= f.label :title %><br>
	<%= f.text_field :title %>

	<br>
	<br>

	<%= f.label :content, "Escreva a sua mensagem aqui:" %><br>
	<%= f.text_area :content %>

	<br>
	<br>

	<%= f.label :image %><br>
	<%= f.file_field :image %>

	<br>
	<br>

	<%= f.submit %>

<% end %>