<div class="container">
	<h1>Mensagens</h1>
		<% @messages.each do |message| %>
				<h2><a href="#"><%= link_to message.title, message %></a></h2>
				<p><%= message.created_at.strftime('%A, %B %d') %></p>
				<%= link_to message do %>
					<%= image_tag message.image.url(:medium), class: "img-responsive" %>
				<% end %>
				<hr>
		<% end %>

	<%= will_paginate @messages %>
 
 	<br>
	<br>
	<% if user_signed_in? %>
		<%= link_to "Criar nova mensagem", new_message_path(@message) %>
	<% end %>