<div class="container">
	<h2><%= @post.title %></h2><br>
	<h6><%= @post.created_at.strftime('%A, %B %d') %></h6>
	<p><%= markdown @post.content %></p>

	<br>
	<br>
	<% if user_signed_in? %>
		<%= link_to "Editar", edit_post_path(@post) %>
		<%= link_to "Deletar", post_path(@post), method: :delete, data: { confirm: "Você tem certeza?" } %>
	<% end %>